---
permalink: search/all.json
---
{%- set posts = collections.docs | reverse -%}
[
{%- for post in posts -%}
  {
    "title": "{{ post.data.title | default(" ") }}",
    "date": "{{ page.date }}",
    "url": "{{ post.url }}",
    "content": {{ post.templateContent | algExcerpt | jsonify | safe }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
