<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/docs/static/style.min.css" rel="stylesheet" />
    <title>{{ title }} - {{product }}{% if product %} -{% endif %} Pusher Docs</title>
    <meta
      name="description"
      content="{{ description | default(meta.description) }}"
    />
  </head>
  <body class="relative min-vh-100" data-analytics="{{env.includeAnalytics}}">

    {% block header %}
    {% endblock %}

    <div class="relative flex flex-column flex-row-l">
    {% block nav %}
    {% endblock %}
    <div class="flex-grow-1 flex flex-column justify-between {{ contentWrapClasses }} z-0">
      {% block container %}
        {{ content | safe }}
      {% endblock %}
    
      {% include "partials/footer.njk" %}
    </div>
    </div>

    <script type="module" src="/docs/static/js/application.mjs" rel="preload"></script>

    {% if env.includeAnalytics %}
      {% include "partials/analytics.njk" %}
    {% endif %}
  </body>
</html>
