{% extends "./base.njk" %}

{% block header %}
  {% include "partials/nav.njk" %}
{% endblock %}

{% block container %}
  <section class="flex-ns flex-wrap flex-nowrap-l items-start justify-around relative mw10 mt6-ns mh5">
    <article class="mw7 f7 lh-copy nested-img nested-links nested-code nested-headlines nested-copy-letter-spacing nested-measure-wide nested-list-spacing mh5-l basis-70-ns">

      {{ super() }}

    </article>
    {% set TOC = content | toc | replace("∞", "") | safe %}
    {% if not hideTOC and TOC != "" %}
      <aside class="sticky measure mt6 mt7-l top-2 bg-snow-light ba b--smoke-light mh5 pa4 br2 nested-copy-seperator nested-code basis-30-ns flex-grow-1-ns">
        <header class="mb4 lh-title bb b--smoke">
          <h4 class="f4 fw5 ma0">Contents</h4>
        </header>
        {{ TOC }}
      </aside>
    {% else %}
      <aside class="measure mt6 mt7-l top-2 mh5 basis-30-ns">
      </aside>
    {% endif %}
  </section>

{% endblock %}
