{% extends "./base.njk" %}

{% block header %}
  {% include "partials/nav.njk" %}
{% endblock %}

{% block container %}
  <section class="flex-ns flex-wrap flex-nowrap-l items-start justify-around relative mw10 mt6">
    <article class="mw7 mh-auto f7 lh-copy nested-img nested-links nested-code nested-headlines nested-copy-letter-spacing nested-measure-wide
    nested-text-margin mh5 mh6-l basis-60-l">

      {{ super() }}

    </article>
    {% if not hideTOC %}
      <aside class="sticky measure mt6 mt7-l top-2 bg-snow-light ba b--smoke-light mh5 pa4 br2 nested-copy-seperator nested-code basis-40-l">
        <header class="mb4 lh-title bb b--smoke">
          <h4 class="f4 fw5 ma0">Contents</h4>
        </header>
        {{ content | toc | replace("∞", "") | safe }}
      </aside>
    {% else %}
      <aside class="measure mt6 mt7-l top-2 mh5 basis-40-ns">
      </aside>
    {% endif %}
  </section>

{% endblock %}
