{% from "partials/channels-logo.njk" import channelsLogo %}
{% from "partials/beams-logo.njk" import beamsLogo %}
{% set isHome = true %}
{% extends "base.njk" %}

{% block container %}
  <div class="flex-grow-1">
    {% include "partials/top-nav.njk" %}
    <section class="pa5 mw9 center mt6 mt0-l">
      <header class="mt6 mt7-l mb5">
        <h1 class="f2 f1-ns fw5 ma0 lh-title">Documentation</h1>
      </header>
      <div class="f5 f4-ns measure">
        {{ super() }}
      </div>
      
      <div class="g2x-ns gg3 mv6">
        <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start mb6 mb0-ns">
          <a href="/docs/channels" class="link eggplant hover-dragonfruit-light">{{ channelsLogo("2.5rem") }}</a>
          <p class="measure f5 mb5">{{ "Build realtime features for your web and mobile apps with our hosted pub/sub messaging API." | widont | safe }}</p>
          <ul class="list ma0 pa0 w-100">
            <li class="mb5 f4">
              <a href="/docs/channels/getting_started/javascript/?ref=docs-index" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Getting started</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="mb5 f4">
              <a href="/docs/channels/using_channels/client-api-overview/?ref=docs-index" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Client API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="f4">
              <a href="/docs/channels/server_api/overview/?ref=docs-index" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Server API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start mb6 mb0-ns">
          <a href="/docs/beams" class="link eggplant hover-dragonfruit-light relative" style="top: -.1333rem">{{ beamsLogo("2.75rem") }}</a>
          <p class="measure f5 mb5">{{ "Send broadcast and targeted push notifications to iOS, Android and web browsers, with our developer-friendly API and SDKs." | widont | safe }}</p>
          <ul class="list ma0 pa0 w-100">
            <li class="mb5 f4">
              <a href="/docs/beams/getting-started/android/configure-fcm/?ref=docs-index" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Getting started</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="mb5 f4">
              <a href="/docs/beams/reference/all-libraries/?ref=docs-index#client-sdks" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Client SDKs</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="f4">
              <a href="/docs/beams/reference/all-libraries/?ref=docs-index#server-sdks" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Server SDKs</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
          </ul>
        </div>

        <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start">
          <h2 class="f3 f2-ns fw5 ma0 mb4 lh-title">Pusher Lab</h2>
          <div class="f5 measure mb5">
            At Pusher we are always working on ways to improve features and resources so you can build quickly and intuitively. Learn more about current developments to our SDKs and how you can get involved with feedback on the latest upcoming features:
          </div>
          <ul class="list ma0 pa0 w-100">
            <li class="mb5 f4">
              <a href="/docs/lab#experimental-program" class="db link eggplant hover-dragonfruit flex items-center">
                <span class="mr2">Experimental program</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="mb5 f4">
              <a href="/docs/lab#beta-program" class="db link eggplant hover-dragonfruit flex items-center">
                <span class="mr2">Beta program</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="f4">
              <a href="/docs/lab#communication" class="db link eggplant hover-dragonfruit flex items-center">
                <span class="mr2">Communication</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
