{% from "partials/channels-logo.njk" import channelsLogo %}
{% from "partials/beams-logo.njk" import beamsLogo %}

{% set bodyClasses = "flex flex-column flex-row-l min-vh-100" %}
{% extends "base.njk" %}

{% block container %}
  <div class="flex-grow-1">
    {% include "partials/home-nav.njk" %}
    <section class="pa5 mw9 center">
      <header class="mt6-l mt7-l mb5">
        <h1 class="f2 f1-ns fw5 ma0 lh-title">Documentation</h1>
      </header>
      <div class="f5 f4-ns measure">
        {{ super() }}
      </div>
      
      <div class="g2x-ns gg3 mv6">
        <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start mb5 mb0-ns">
          <a href="/channels" class="link eggplant hover-dragonfruit-light">{{ channelsLogo("2.5rem") }}</a>
          <p class="measure f5 mb5">{{ "Build realtime features in your web and mobile apps with our hosted pub/sub messaging API." | widont | safe }}</p>
          <ul class="list ma0 pa0 w-100">
            <li class="mb5 f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Getting started</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="mb5 f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Client API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Sever API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
          </ul>
        </div>
        <div class="pa5 br2 ba b--smoke-light flex flex-column justify-between items-start">
          <a href="/channels" class="link eggplant hover-dragonfruit-light relative" style="top: -.1333rem">{{ beamsLogo("2.75rem") }}</a>
          <p class="measure f5 mb5">{{ "Send mobile push notifications to iOS, Android apps and to web browsers, with our developer-friendly API and SDKs." | widont | safe }}</p>
          <ul class="list ma0 pa0 w-100">
            <li class="mb5 f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Getting started</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="mb5 f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Client API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
            <li class="f4">
              <a href="/channels/getting-started" class="db link eggplant hover-dragonfruit bg-snow-light hover-bg-snow br2 pr5 flex items-center">
                {% include "partials/docs-icon.njk" %}
                <span class="mr-auto">Sever API</span>
                {% include "partials/caret-right.njk" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
