{% extends "./base.njk" %}

{% set bodyClasses = "flex flex-column flex-row-l min-vh-100" %}

{% block container %}
  <div class="flex-grow-1">
    {% include "partials/top-nav.njk" %}
    <section class="flex-ns flex-wrap flex-nowrap-l items-start justify-around relative mw10 mt6-ns mh5">
      <article class="mw7 f7 lh-copy nested-img nested-links nested-code nested-headlines nested-copy-letter-spacing nested-measure-wide nested-list-spacing mh5-l basis-70-ns">

        {{ super() }}

      </article>

      <div class="measure sticky top-2 basis-30-ns flex-grow-1-ns">
        <div class="mt5 bg-snow-light ba b--smoke-light pa4 br2 nested-copy-seperator nested-code">
          <header class="mb4 lh-title bb b--smoke">
            <h4 class="f4 fw5 ma0">Contents</h4>
          </header>
          {{ content | toc | replace("∞", "") | safe }}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
