button[disabled],
button[disabled="true"] {
  cursor: not-allowed !important;
  filter: grayscale(80%);
  opacity: 0.333;
}

.disabled--link {
  cursor: not-allowed !important;
  filter: grayscale(80%);
  opacity: 0.333;
}
