@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadein 0.2s ease-out;
}

@keyframes fadein--big {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in--big {
  animation: fadein--big 0.2s ease-out;
}
