{% from "partials/channels-logo.njk" import channelsLogo %}
{% from "partials/beams-logo.njk" import beamsLogo %}

<header class="side-nav pa5 relative fixed-l overflow-scroll-l z-1 z-0 bottom-0-l">
  <nav class="docs-nav dn db-l bg-white top-0 left-0 right-0 ph5 ph0-l z-1 overflow-scroll overflow-visible-l bottom-0" id="docs-menu">
    {% set navPages = collections.all | eleventyNavigation(product) %}
    {% macro renderNavListItem(entry, level) -%}
    <li class="{{ 'mt5' if level == 0 }} {{ 'bg-snow-light br1 br--bottom' if (entry.url == page.url and level != 0) }}">
      <a class="db pv1 ph3 link eggplant br1 {{ 'bg-eggplant white focus-black' if (entry.url == page.url and level != 0) else 'hover-dragonfruit hover-bg-snow-light' }} {{ 'ttu fw7' if level == 0 }}" href="{{ entry.url | url }}">
        {{ entry.title }} {{ 'drop' if dropdown }}
      </a>
      {#
      {% if entry.url == page.url and level != 0 %}
        {% if content | toc and hideTOC != true %}
          {{ content | toc | replace("∞", "") | safe }}
        {% endif %}
      {% endif %}
      #}
    {%- if entry.children.length -%}
      <ul class="list ma0 pa0 {{ 'pl3' if level == 1 }}">
        {%- for child in entry.children %}
          {{ renderNavListItem(child, 1) }}
        {% endfor -%}
      </ul>
    {%- endif -%}
    </li>
    {%- endmacro %}

    <ul class="list ma0 pa0 pb6">
      <li class="mb3">
        <a href="/docs/channels" class="link eggplant hover-dragonfruit">
          {{ channelsLogo() }}
        </a>
      </li>
      {% if product == 'Channels' %}
        {%- for entry in navPages %}{{ renderNavListItem(entry, 0) }}{%- endfor -%}
      {% endif %}
      <li class="mt5 mb3">
        <a href="/docs/beams" class="link eggplant hover-dragonfruit">
          {{ beamsLogo() }}
        </a>
      </li>
      {% if product == 'Beams' %}
        {%- for entry in navPages %}{{ renderNavListItem(entry, 0) }}{%- endfor -%}
      {% endif %}
      <li class="mt5 mb3 f4 fw6">
        <a href="/docs/lab?ref=nav" class="db link eggplant hover-dragonfruit {{ 'bg-eggplant white hover-white focus-black ph3 nl2' if ('/docs/lab/' == page.url) else 'hover-dragonfruit hover-bg-snow-light' }}">
          Pusher lab
        </a>
      </li>
    </ul>
  </nav>
</header>
