/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

.shadow-1 {
  box-shadow: var(--box-shadow-1);
}
.shadow-2 {
  box-shadow: var(--box-shadow-2);
}
.shadow-3 {
  box-shadow: var(--box-shadow-3);
}
.shadow-4 {
  box-shadow: var(--box-shadow-4);
}
.shadow-5 {
  box-shadow: var(--box-shadow-5);
}
.shadow-6 {
  box-shadow: var(--box-shadow-6);
}

@media (--breakpoint-not-small) {
  .shadow-1-ns {
    box-shadow: var(--box-shadow-1);
  }
  .shadow-2-ns {
    box-shadow: var(--box-shadow-2);
  }
  .shadow-3-ns {
    box-shadow: var(--box-shadow-3);
  }
  .shadow-4-ns {
    box-shadow: var(--box-shadow-4);
  }
  .shadow-5-ns {
    box-shadow: var(--box-shadow-5);
  }
  .shadow-6-ns {
    box-shadow: var(--box-shadow-6);
  }
}

@media (--breakpoint-medium) {
  .shadow-1-m {
    box-shadow: var(--box-shadow-1);
  }
  .shadow-2-m {
    box-shadow: var(--box-shadow-2);
  }
  .shadow-3-m {
    box-shadow: var(--box-shadow-3);
  }
  .shadow-4-m {
    box-shadow: var(--box-shadow-4);
  }
  .shadow-5-m {
    box-shadow: var(--box-shadow-5);
  }
  .shadow-6-m {
    box-shadow: var(--box-shadow-6);
  }
}

@media (--breakpoint-large) {
  .shadow-1-l {
    box-shadow: var(--box-shadow-1);
  }
  .shadow-2-l {
    box-shadow: var(--box-shadow-2);
  }
  .shadow-3-l {
    box-shadow: var(--box-shadow-3);
  }
  .shadow-4-l {
    box-shadow: var(--box-shadow-4);
  }
  .shadow-5-l {
    box-shadow: var(--box-shadow-5);
  }
  .shadow-6-l {
    box-shadow: var(--box-shadow-6);
  }
}

.focus-bs-starflower:focus {
  box-shadow: inset 0 0 0 1px var(--starflower);
}

.focus-bs-radish:focus {
  box-shadow: inset 0 0 0 1px var(--radish);
}
