/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

   Base:
     top
     bottom
     right
     left

   Modifiers:
     -0  = literal value 0
     -1  = literal value 1
     -2  = literal value 2
     --1 = literal value -1
     --2 = literal value -2

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.top-unset    { top:    unset; }
.right-unset  { right:  unset; }
.bottom-unset { bottom: unset; }
.left-unset   { left:   unset; }

.top-0    { top:    0; }
.right-0  { right:  0; }
.bottom-0 { bottom: 0; }
.left-0   { left:   0; }

.top-1    { top:    var(--spacing-medium); }
.right-1  { right:  var(--spacing-medium); }
.bottom-1 { bottom: var(--spacing-medium); }
.left-1   { left:   var(--spacing-medium); }

.top-2    { top:    var(--spacing-large); }
.right-2  { right:  var(--spacing-large); }
.bottom-2 { bottom: var(--spacing-large); }
.left-2   { left:   var(--spacing-large); }

.top--1    { top:    calc(-1 * var(--spacing-medium)); }
.right--1  { right:  calc(-1 * var(--spacing-medium)); }
.bottom--1 { bottom: calc(-1 * var(--spacing-medium)); }
.left--1   { left:   calc(-1 * var(--spacing-medium)); }

.top--2    { top:    calc(-1 * var(--spacing-large)); }
.right--2  { right:  calc(-1 * var(--spacing-large)); }
.bottom--2 { bottom: calc(-1 * var(--spacing-large)); }
.left--2   { left:   calc(-1 * var(--spacing-large)); }


.absolute--fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (--breakpoint-not-small) {
  .top-unset-ns    { top:    unset; }
  .right-unset-ns  { right:  unset; }
  .bottom-unset-ns { bottom: unset; }
  .left-unset-ns   { left:   unset; }
  .top-0-ns     { top:   0; }
  .left-0-ns    { left:  0; }
  .right-0-ns   { right: 0; }
  .bottom-0-ns  { bottom: 0; }
  .top-1-ns     { top:   var(--spacing-medium); }
  .left-1-ns    { left:  var(--spacing-medium); }
  .right-1-ns   { right: var(--spacing-medium); }
  .bottom-1-ns  { bottom: var(--spacing-medium); }
  .top-2-ns     { top:   var(--spacing-large); }
  .left-2-ns    { left:  var(--spacing-large); }
  .right-2-ns   { right: var(--spacing-large); }
  .bottom-2-ns  { bottom: var(--spacing-large); }
  .top--1-ns    { top:    calc(-1 * var(--spacing-medium)); }
  .right--1-ns  { right:  calc(-1 * var(--spacing-medium)); }
  .bottom--1-ns { bottom: calc(-1 * var(--spacing-medium)); }
  .left--1-ns   { left:   calc(-1 * var(--spacing-medium)); }
  .top--2-ns    { top:    calc(-1 * var(--spacing-large)); }
  .right--2-ns  { right:  calc(-1 * var(--spacing-large)); }
  .bottom--2-ns { bottom: calc(-1 * var(--spacing-large)); }
  .left--2-ns   { left:   calc(-1 * var(--spacing-large)); }
  .absolute--fill-ns {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (--breakpoint-medium) {
  .top-unset-m    { top:    unset; }
  .right-unset-m  { right:  unset; }
  .bottom-unset-m { bottom: unset; }
  .left-unset-m   { left:   unset; }
  .top-0-m     { top:   0; }
  .left-0-m    { left:  0; }
  .right-0-m   { right: 0; }
  .bottom-0-m  { bottom: 0; }
  .top-1-m     { top:   var(--spacing-medium); }
  .left-1-m    { left:  var(--spacing-medium); }
  .right-1-m   { right: var(--spacing-medium); }
  .bottom-1-m  { bottom: var(--spacing-medium); }
  .top-2-m     { top:   var(--spacing-large); }
  .left-2-m    { left:  var(--spacing-large); }
  .right-2-m   { right: var(--spacing-large); }
  .bottom-2-m  { bottom: var(--spacing-large); }
  .top--1-m    { top:    calc(-1 * var(--spacing-medium)); }
  .right--1-m  { right:  calc(-1 * var(--spacing-medium)); }
  .bottom--1-m { bottom: calc(-1 * var(--spacing-medium)); }
  .left--1-m   { left:   calc(-1 * var(--spacing-medium)); }
  .top--2-m    { top:    calc(-1 * var(--spacing-large)); }
  .right--2-m  { right:  calc(-1 * var(--spacing-large)); }
  .bottom--2-m { bottom: calc(-1 * var(--spacing-large)); }
  .left--2-m   { left:   calc(-1 * var(--spacing-large)); }
  .absolute--fill-m {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (--breakpoint-large) {
  .top-unset-l    { top:    unset; }
  .right-unset-l  { right:  unset; }
  .bottom-unset-l { bottom: unset; }
  .left-unset-l   { left:   unset; }
  .top-0-l     { top:   0; }
  .left-0-l    { left:  0; }
  .right-0-l   { right: 0; }
  .bottom-0-l  { bottom: 0; }
  .top-1-l     { top:   var(--spacing-medium); }
  .left-1-l    { left:  var(--spacing-medium); }
  .right-1-l   { right: var(--spacing-medium); }
  .bottom-1-l  { bottom: var(--spacing-medium); }
  .top-2-l     { top:   var(--spacing-large); }
  .left-2-l    { left:  var(--spacing-large); }
  .right-2-l   { right: var(--spacing-large); }
  .bottom-2-l  { bottom: var(--spacing-large); }
  .top--1-l    { top:    calc(-1 * var(--spacing-medium)); }
  .right--1-l  { right:  calc(-1 * var(--spacing-medium)); }
  .bottom--1-l { bottom: calc(-1 * var(--spacing-medium)); }
  .left--1-l   { left:   calc(-1 * var(--spacing-medium)); }
  .top--2-l    { top:    calc(-1 * var(--spacing-large)); }
  .right--2-l  { right:  calc(-1 * var(--spacing-large)); }
  .bottom--2-l { bottom: calc(-1 * var(--spacing-large)); }
  .left--2-l   { left:   calc(-1 * var(--spacing-large)); }
  .absolute--fill-l {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
