/*
   NEGATIVE MARGINS

   Base:
     n = negative

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

     1 = 1st step in spacing scale
     2 = 2nd step in spacing scale
     3 = 3rd step in spacing scale
     4 = 4th step in spacing scale
     5 = 5th step in spacing scale
     6 = 6th step in spacing scale
     7 = 7th step in spacing scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.na1 {
  margin: calc(-1 * var(--spacing-extra-extra-small));
}
.na2 {
  margin: calc(-1 * var(--spacing-extra-small));
}
.na3 {
  margin: calc(-1 * var(--spacing-small));
}
.na4 {
  margin: calc(-1 * var(--spacing-medium));
}
.na5 {
  margin: calc(-1 * var(--spacing-large));
}
.na6 {
  margin: calc(-1 * var(--spacing-extra-large));
}
.na7 {
  margin: calc(-1 * var(--spacing-extra-extra-large));
}
.na8 {
  margin: calc(-1 * var(--spacing-extra-extra-extra-large));
}

.nl1 {
  margin-left: calc(-1 * var(--spacing-extra-extra-small));
}
.nl2 {
  margin-left: calc(-1 * var(--spacing-extra-small));
}
.nl3 {
  margin-left: calc(-1 * var(--spacing-small));
}
.nl4 {
  margin-left: calc(-1 * var(--spacing-medium));
}
.nl5 {
  margin-left: calc(-1 * var(--spacing-large));
}
.nl6 {
  margin-left: calc(-1 * var(--spacing-extra-large));
}
.nl7 {
  margin-left: calc(-1 * var(--spacing-extra-extra-large));
}
.nl8 {
  margin-left: calc(-1 * var(--spacing-extra-extra-extra-large));
}

.nr1 {
  margin-right: calc(-1 * var(--spacing-extra-extra-small));
}
.nr2 {
  margin-right: calc(-1 * var(--spacing-extra-small));
}
.nr3 {
  margin-right: calc(-1 * var(--spacing-small));
}
.nr4 {
  margin-right: calc(-1 * var(--spacing-medium));
}
.nr5 {
  margin-right: calc(-1 * var(--spacing-large));
}
.nr6 {
  margin-right: calc(-1 * var(--spacing-extra-large));
}
.nr7 {
  margin-right: calc(-1 * var(--spacing-extra-extra-large));
}
.nr8 {
  margin-right: calc(-1 * var(--spacing-extra-extra-extra-large));
}

.nb1 {
  margin-bottom: calc(-1 * var(--spacing-extra-extra-small));
}
.nb2 {
  margin-bottom: calc(-1 * var(--spacing-extra-small));
}
.nb3 {
  margin-bottom: calc(-1 * var(--spacing-small));
}
.nb4 {
  margin-bottom: calc(-1 * var(--spacing-medium));
}
.nb5 {
  margin-bottom: calc(-1 * var(--spacing-large));
}
.nb6 {
  margin-bottom: calc(-1 * var(--spacing-extra-large));
}
.nb7 {
  margin-bottom: calc(-1 * var(--spacing-extra-extra-large));
}
.nb8 {
  margin-bottom: calc(-1 * var(--spacing-extra-extra-extra-large));
}

.nt1 {
  margin-top: calc(-1 * var(--spacing-extra-extra-small));
}
.nt2 {
  margin-top: calc(-1 * var(--spacing-extra-small));
}
.nt3 {
  margin-top: calc(-1 * var(--spacing-small));
}
.nt4 {
  margin-top: calc(-1 * var(--spacing-medium));
}
.nt5 {
  margin-top: calc(-1 * var(--spacing-large));
}
.nt6 {
  margin-top: calc(-1 * var(--spacing-extra-large));
}
.nt7 {
  margin-top: calc(-1 * var(--spacing-extra-extra-large));
}
.nt8 {
  margin-top: calc(-1 * var(--spacing-extra-extra-extra-large));
}

@media (--breakpoint-not-small) {
  .na1-ns {
    margin: calc(-1 * var(--spacing-extra-extra-small));
  }
  .na2-ns {
    margin: calc(-1 * var(--spacing-extra-small));
  }
  .na3-ns {
    margin: calc(-1 * var(--spacing-small));
  }
  .na4-ns {
    margin: calc(-1 * var(--spacing-medium));
  }
  .na5-ns {
    margin: calc(-1 * var(--spacing-large));
  }
  .na6-ns {
    margin: calc(-1 * var(--spacing-extra-large));
  }
  .na7-ns {
    margin: calc(-1 * var(--spacing-extra-extra-large));
  }
  .na8-ns {
    margin: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nl1-ns {
    margin-left: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nl2-ns {
    margin-left: calc(-1 * var(--spacing-extra-small));
  }
  .nl3-ns {
    margin-left: calc(-1 * var(--spacing-small));
  }
  .nl4-ns {
    margin-left: calc(-1 * var(--spacing-medium));
  }
  .nl5-ns {
    margin-left: calc(-1 * var(--spacing-large));
  }
  .nl6-ns {
    margin-left: calc(-1 * var(--spacing-extra-large));
  }
  .nl7-ns {
    margin-left: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nl8-ns {
    margin-left: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nr1-ns {
    margin-right: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nr2-ns {
    margin-right: calc(-1 * var(--spacing-extra-small));
  }
  .nr3-ns {
    margin-right: calc(-1 * var(--spacing-small));
  }
  .nr4-ns {
    margin-right: calc(-1 * var(--spacing-medium));
  }
  .nr5-ns {
    margin-right: calc(-1 * var(--spacing-large));
  }
  .nr6-ns {
    margin-right: calc(-1 * var(--spacing-extra-large));
  }
  .nr7-ns {
    margin-right: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nr8-ns {
    margin-right: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nb1-ns {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nb2-ns {
    margin-bottom: calc(-1 * var(--spacing-extra-small));
  }
  .nb3-ns {
    margin-bottom: calc(-1 * var(--spacing-small));
  }
  .nb4-ns {
    margin-bottom: calc(-1 * var(--spacing-medium));
  }
  .nb5-ns {
    margin-bottom: calc(-1 * var(--spacing-large));
  }
  .nb6-ns {
    margin-bottom: calc(-1 * var(--spacing-extra-large));
  }
  .nb7-ns {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nb8-ns {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nt1-ns {
    margin-top: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nt2-ns {
    margin-top: calc(-1 * var(--spacing-extra-small));
  }
  .nt3-ns {
    margin-top: calc(-1 * var(--spacing-small));
  }
  .nt4-ns {
    margin-top: calc(-1 * var(--spacing-medium));
  }
  .nt5-ns {
    margin-top: calc(-1 * var(--spacing-large));
  }
  .nt6-ns {
    margin-top: calc(-1 * var(--spacing-extra-large));
  }
  .nt7-ns {
    margin-top: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nt8-ns {
    margin-top: calc(-1 * var(--spacing-extra-extra-extra-large));
  }
}

@media (--breakpoint-medium) {
  .na1-m {
    margin: calc(-1 * var(--spacing-extra-extra-small));
  }
  .na2-m {
    margin: calc(-1 * var(--spacing-extra-small));
  }
  .na3-m {
    margin: calc(-1 * var(--spacing-small));
  }
  .na4-m {
    margin: calc(-1 * var(--spacing-medium));
  }
  .na5-m {
    margin: calc(-1 * var(--spacing-large));
  }
  .na6-m {
    margin: calc(-1 * var(--spacing-extra-large));
  }
  .na7-m {
    margin: calc(-1 * var(--spacing-extra-extra-large));
  }
  .na8-m {
    margin: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nl1-m {
    margin-left: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nl2-m {
    margin-left: calc(-1 * var(--spacing-extra-small));
  }
  .nl3-m {
    margin-left: calc(-1 * var(--spacing-small));
  }
  .nl4-m {
    margin-left: calc(-1 * var(--spacing-medium));
  }
  .nl5-m {
    margin-left: calc(-1 * var(--spacing-large));
  }
  .nl6-m {
    margin-left: calc(-1 * var(--spacing-extra-large));
  }
  .nl7-m {
    margin-left: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nl8-m {
    margin-left: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nr1-m {
    margin-right: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nr2-m {
    margin-right: calc(-1 * var(--spacing-extra-small));
  }
  .nr3-m {
    margin-right: calc(-1 * var(--spacing-small));
  }
  .nr4-m {
    margin-right: calc(-1 * var(--spacing-medium));
  }
  .nr5-m {
    margin-right: calc(-1 * var(--spacing-large));
  }
  .nr6-m {
    margin-right: calc(-1 * var(--spacing-extra-large));
  }
  .nr7-m {
    margin-right: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nr8-m {
    margin-right: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nb1-m {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nb2-m {
    margin-bottom: calc(-1 * var(--spacing-extra-small));
  }
  .nb3-m {
    margin-bottom: calc(-1 * var(--spacing-small));
  }
  .nb4-m {
    margin-bottom: calc(-1 * var(--spacing-medium));
  }
  .nb5-m {
    margin-bottom: calc(-1 * var(--spacing-large));
  }
  .nb6-m {
    margin-bottom: calc(-1 * var(--spacing-extra-large));
  }
  .nb7-m {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nb8-m {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nt1-m {
    margin-top: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nt2-m {
    margin-top: calc(-1 * var(--spacing-extra-small));
  }
  .nt3-m {
    margin-top: calc(-1 * var(--spacing-small));
  }
  .nt4-m {
    margin-top: calc(-1 * var(--spacing-medium));
  }
  .nt5-m {
    margin-top: calc(-1 * var(--spacing-large));
  }
  .nt6-m {
    margin-top: calc(-1 * var(--spacing-extra-large));
  }
  .nt7-m {
    margin-top: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nt8-m {
    margin-top: calc(-1 * var(--spacing-extra-extra-extra-large));
  }
}

@media (--breakpoint-large) {
  .na1-l {
    margin: calc(-1 * var(--spacing-extra-extra-small));
  }
  .na2-l {
    margin: calc(-1 * var(--spacing-extra-small));
  }
  .na3-l {
    margin: calc(-1 * var(--spacing-small));
  }
  .na4-l {
    margin: calc(-1 * var(--spacing-medium));
  }
  .na5-l {
    margin: calc(-1 * var(--spacing-large));
  }
  .na6-l {
    margin: calc(-1 * var(--spacing-extra-large));
  }
  .na7-l {
    margin: calc(-1 * var(--spacing-extra-extra-large));
  }
  .na8-l {
    margin: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nl1-l {
    margin-left: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nl2-l {
    margin-left: calc(-1 * var(--spacing-extra-small));
  }
  .nl3-l {
    margin-left: calc(-1 * var(--spacing-small));
  }
  .nl4-l {
    margin-left: calc(-1 * var(--spacing-medium));
  }
  .nl5-l {
    margin-left: calc(-1 * var(--spacing-large));
  }
  .nl6-l {
    margin-left: calc(-1 * var(--spacing-extra-large));
  }
  .nl7-l {
    margin-left: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nl8-l {
    margin-left: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nr1-l {
    margin-right: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nr2-l {
    margin-right: calc(-1 * var(--spacing-extra-small));
  }
  .nr3-l {
    margin-right: calc(-1 * var(--spacing-small));
  }
  .nr4-l {
    margin-right: calc(-1 * var(--spacing-medium));
  }
  .nr5-l {
    margin-right: calc(-1 * var(--spacing-large));
  }
  .nr6-l {
    margin-right: calc(-1 * var(--spacing-extra-large));
  }
  .nr7-l {
    margin-right: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nr8-l {
    margin-right: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nb1-l {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nb2-l {
    margin-bottom: calc(-1 * var(--spacing-extra-small));
  }
  .nb3-l {
    margin-bottom: calc(-1 * var(--spacing-small));
  }
  .nb4-l {
    margin-bottom: calc(-1 * var(--spacing-medium));
  }
  .nb5-l {
    margin-bottom: calc(-1 * var(--spacing-large));
  }
  .nb6-l {
    margin-bottom: calc(-1 * var(--spacing-extra-large));
  }
  .nb7-l {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nb8-l {
    margin-bottom: calc(-1 * var(--spacing-extra-extra-extra-large));
  }

  .nt1-l {
    margin-top: calc(-1 * var(--spacing-extra-extra-small));
  }
  .nt2-l {
    margin-top: calc(-1 * var(--spacing-extra-small));
  }
  .nt3-l {
    margin-top: calc(-1 * var(--spacing-small));
  }
  .nt4-l {
    margin-top: calc(-1 * var(--spacing-medium));
  }
  .nt5-l {
    margin-top: calc(-1 * var(--spacing-large));
  }
  .nt6-l {
    margin-top: calc(-1 * var(--spacing-extra-large));
  }
  .nt7-l {
    margin-top: calc(-1 * var(--spacing-extra-extra-large));
  }
  .nt8-l {
    margin-top: calc(-1 * var(--spacing-extra-extra-extra-large));
  }
}
